@charset "utf-8";
/* CSS Document */
.box{
	height:400px;

}
.paragraphone{
	
	width:700px;
	height:300px;
	margin:0 auto;
	margin-top:300px;
}
.paragraphtwo{

	width:460px;
	margin:0 auto;
	margin-top:200px;
}
.paragraphthree{
	width:800px;
	margin:0 auto;
	
}
.discuss_part{
	width:800px;
	margin:0 auto;
	
}

