@charset "utf-8";
/* CSS Document */
body{
	font-family:"Microsoft YaHei";
	background:url(背景.png)
}
.header-bar{
	position:fixed;
	top:0px;
	width:1536px;
	left:0px;
	background-color:black;		
}
.header{
	width:580px;
	height:50px;
	
	margin:0 auto;
	text-aligen:center;	
	
}
.bar{
	width:770px;
	text-align:center;
	margin:0 auto;
}

.nav-home{
	text-decoration:none;
	outline:none;

}
li{
	float:left;
	display:inline-block;
	width:120px;
	height:40px;
	text-align:center;
	line-height:40px;

}
.selcet{
	border-bottom:3px solid white;
	background-color:#141414
}
.selceted{

}

